<form id="modelItemForm" method="post" action="<%= params.formAction %>" onsubmit="validateSubmit(); return false;">
<div><label for="nickName" id="nickName_label">NickName</label></div>
<div><input type="text" id="nickName" name="nickName" value="<%= params.nickName || '' %>" size="24"/></div>
<input type="submit" value="Submit"/>
</form>
